<label class="field-label">Share This:</label>
<div class="copy-action">
  <div class="url-result"><a href="{{ model.relativePath }}" target="_blank">{{ model.url }}</a></div>
  {{zero-clipboard text=model.url label="COPY URL" innerClass="btn btn-default" class="copy-button"}}
</div>

{{yield}}
