@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import "bourbon";
@import "neat/neat";
@import "base/base";

@import "tempo";

html {
  padding:0;
  margin:0;
}

body {
  padding:0;
  margin:0;
  background-color: $dark-gray;
}

a {
  text-decoration:underline;
}

.page-content {
  background-color:$base-background-color;
  padding: 0 0 40px 0;
  margin: auto auto;
}

.page-inner {
  max-width:900px;
  margin: auto auto;
}

header {
  padding:30px;
  text-align:center;

  h1 {
    min-height:90px;
    background: transparent url(/assets/images/logo-header-no-slogan.png) no-repeat center 20px;
    background-size:200px auto;
    text-indent: -9000px;

    @include media($medium-screen-up) {
      min-height:120px;
      background-size:400px auto;
    }
  }

  &.small h1 {
    background-size:200px auto;
    min-height:80px;
  }

  h2 {
    margin-top:-15px;
    font-size:20px;
    font-family:"Open Sans";
    font-weight:bold;
    text-transform:uppercase;
    color:$action-color;
  }
}

footer {
  padding:40px 50px 0;
  @include media($medium-screen-up) {
    padding:60px  50px 0;
  }

  background-color:#1F1F1F;
  text-align:center;
  p {
    color:#626262;
  }
}

.url-creator {
  max-width:100%;
  margin:auto auto;
  border: 2px solid #2F2F2F;
  padding:10px;
  position:relative;

  @include media($medium-screen-up) {
    max-width:90%;
  }

  .title-info {
      @include outer-container;

      select {
        @include span-columns(12);

        @include media($medium-screen-up) {
          @include span-columns(3);
        }

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border:0;
        margin:0;
        height:39px;
      }
      input {
        @include span-columns(12);

        @include media($medium-screen-up) {
          @include span-columns(9);
        }
      }

  }
  .url-creator-inner {
      padding:2px;
      @include media($medium-screen-up) {
        padding:50px;
      }

      border:5px solid #2F2F2F;
  }

  form {
    margin:0 0 20px 0;
  }

  .separator {
    margin:20px;
  }
  .separator path {
    stroke:#AAA;
    stroke-width: 1px;
  }
}


.isReady .copy-action:before {
  display:none;
}

.copy-action:before {
  content:"";
  @include absolute-fill(0,0,0,0);
  background-color:$dark-gray;
  opacity:0.8;
  z-index:10;
}


.copy-action {
  position:relative;
  @include clearfix();
  .copy-button {
    @include clearfix();
    display:block;
    width:100%;
    z-index:2;
    button {
      display:block;
      width:100%;
    }

    @include media($medium-screen-up) {
      position:absolute;
      right:0;
      top:0;
      bottom:0;
      left:auto;
      height:auto;
      width:110px;


      button {
        position:absolute;
        top:0; right:0; bottom:0;
      }
    }
  }
  .copy-button.zeroclipboard-is-hover {
    cursor: pointer!important;

    button {
      background-color:darken($action-color, 20%);
    }
  }

  .copy-button.zeroclipboard-is-hover:active {
    button {
      background-color:darken($action-color, 40%);
    }
  }

  .copy-button button:active {
    background-color:darken($action-color, 40%);
  }

  .url-result {
    @include clearfix();
    background-color: #1F1F1F;
    padding: 3px 18px 3px 18px;

    font-size: 15px;
    line-height: 44px;
    position:relative;
    text-align:center;
    @include media($medium-screen-up) {
      text-align:left;
      min-height:0;
      padding: 3px 110px 3px 18px;
    }

    a {
      display:inline-block;
    }

  }

  .copy-button.zeroclipboard-is-hover + .url-result {
    box-shadow:  0 0 3px $action-color;
  }
}


label.field-label {
  text-transform:uppercase;
  padding:5px 0;
  display:block;
  text-align: center;
  font-size: 12px;
  background-color:transparent!important;
  margin-top:10px;
  // @include span-columns(12);
  color:#999;
}

label.field-label[for=category] {
  @include media($medium-screen-up) {
    display:none;
  }
}


.video-selector {
  label.field-label {
    margin-top:-10px;
  }

  margin: auto auto;
  background-color:#1F1F1F;

  padding:15px 5px;

  @include media($medium-screen-up) {
    padding:15px 30px;
  }

  text-align:center;
  @include outer-container;
  label.ember-radio-button {
    cursor: pointer;
    @include aspect-ratio(5, 1);
    @include span-columns(12);
    display:inline-block;
    position:relative;
    border-radius:5px;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    box-sizing: border-box;
    border:3px solid #000;
    position:relative;


    @include media($medium-screen-up) {
        @include span-columns(4);
        @include aspect-ratio(5, 3.5);
        .info {display:none;}
        &.checked .info { display:block;}
    }

    &.checked {
      border:3px solid $action-color;
    }

    .video-still {
        position:absolute;
        left:3px;right:3px;bottom:3px;top:3px;
        background-size: cover;
        background-repeat:no-repeat;


        .info {
          vertical-align: middle;
          text-transform:uppercase;
          color: #FFF;
          font-size:25px;
          font-weight:bold;
          text-shadow: 0 0 5px $dark-gray;
          box-sizing: border-box;
          @include vertical-align();
          position:absolute;
          left:0; right:0;
        }
    }

    &.checked .video-still .info {
      color: #FFF;
      text-shadow:0 0 10px $action-color, 1px 1px 10px #333;
    }
  }
  input {
    display:none;
  }
}

.video-player {
  @include aspect-ratio(16, 9);
  width:100%;
}

.lets-talk-about-this {
  margin: 40px 0;
  @include outer-container;

  .words {
    padding:40px;
    @include span-columns(8);
  }

  .actions {
    padding:40px;
    @include span-columns(4);
  }
}
