@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import "bourbon";
@import "neat/neat";
@import "base/base";

@import "tempo";

html {
  padding:0;
  margin:0;
}

body {
  padding:0;
  margin:0;
  background-color: $dark-gray;
}

a {
  text-decoration:underline;
  color: #FFF;
  &:hover {
    color: $action-color;
  }
}

.page-content {
  background-color:$base-background-color;
  padding: 0 0 40px 0;
  margin: auto auto;
}

.page-inner {
  max-width:900px;
  margin: auto auto;
}

header {
  padding:30px;
  text-align:center;

  h1 {
    min-height:120px;
    background: transparent url(/assets/images/logo-header.png) no-repeat center 20px;
    background-size:290px auto;
    text-indent: -9000px;

    @include media($medium-screen-up) {
      min-height:160px;
      background-size:460px auto;
    }
  }
  h2 {
    display:none;
  }

  &.small h1 {
    background-size:200px auto!important;
    background: transparent url(/assets/images/logo-header-no-slogan.png) no-repeat center 20px;
    min-height:80px;
  }
  &.small h2 {
    display:block;
  }
  h2 {
    margin-top:-15px;
    font-size:16px;
    font-family:"Open Sans";
    font-weight:bold;
    text-transform:uppercase;
    color:$action-color;
  }
}

footer {
  padding:40px 50px 0;
  @include media($medium-screen-up) {
    padding:60px  50px 0;
  }

  background-color:#1F1F1F;
  text-align:center;
  p {
    color:#626262;
  }
}

.url-creator {
  max-width:100%;
  margin:auto auto;
  border: 2px solid #2F2F2F;
  padding:6px;
  position:relative;

  @include media($medium-screen-up) {
    max-width:90%;
  }

  .title-info {
      @include outer-container;

      select {
        @include background-clip();
        @include span-columns(12);

        @include media($medium-screen-up) {
          @include span-columns(3);
        }

        &:active, &:hover, &:focus {
          outline: none;
        }

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border:0;
        margin:0;
        height:39px;
      }
      input {
        @include background-clip();
        @include span-columns(12);

        @include media($medium-screen-up) {
          @include span-columns(9);
        }
      }

  }
  .url-creator-inner {
      padding:2px;
      @include media($medium-screen-up) {
        padding:50px;
      }

      border:5px solid #2F2F2F;
  }

  form {
    margin:0 0 20px 0;
  }

  .separator {
    margin:20px -25px;
  }
  .separator path {
    stroke: #2F2F2F;
    stroke-width: 2px;
  }
}

.copy-action {
  position:relative;
  @include clearfix();
  .copy-button {
    display:none;
    @include clearfix();
    width:100%;
    z-index:2;
    button {
      display:block;
      width:100%;
    }

    @include media($medium-screen-up) {
      display:block;

      position:absolute;
      right:0;
      top:0;
      bottom:0;
      left:auto;
      height:auto;
      width:110px;


      button {
        color:$dark-gray;
        position:absolute;
        top:0; right:0; bottom:0;
      }
    }
  }
  .copy-button.zeroclipboard-is-hover {
    cursor: pointer!important;

    button {
      color:$dark-gray;
      background-color:lighten($action-color, 5%);
    }
  }

  .url-result {
    overflow:hidden;
    @include clearfix();
    background-color: #1F1F1F;
    padding: 3px 18px 3px 18px;

    font-size: 15px;
    line-height: 18px;
    position:relative;
    text-align:center;
    @include media($medium-screen-up) {
      line-height: 44px;
      white-space: nowrap;
      text-align:left;
      min-height:0;
      padding: 3px 110px 3px 18px;
    }

    a {
      display:inline-block;
    }

  }

  .copy-button.zeroclipboard-is-hover + .url-result {
    box-shadow:  0 0 3px $action-color;
  }
}


label.field-label {
  text-transform:uppercase;
  padding:5px 0;
  display:block;
  text-align: center;
  font-size: 12px;
  background-color:transparent!important;
  margin-top:10px;
  // @include span-columns(12);
  color:#999;
}

label.field-label[for=category] {
  @include media($medium-screen-up) {
    display:none;
  }
}


.video-selector {
  label.field-label {
    margin-top:-10px;
  }
  border-radius: 2px;
  @include background-clip();

  margin: auto auto;
  background-color:#1F1F1F;

  padding:15px 5px;

  @include media($medium-screen-up) {
    padding:15px 30px;
  }

  text-align:center;
  @include outer-container;
  label.ember-radio-button {
    cursor: pointer;
    @include aspect-ratio(5, 1);
    @include span-columns(12);
    display:inline-block;
    position:relative;
    border-radius:5px;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    box-sizing: border-box;
    border:3px solid transparent;
    position:relative;

    @include media($medium-screen-up) {
        @include span-columns(4);
        @include aspect-ratio(5, 3.5);
        .info {display:none;}
        &.checked .info { display:block;}
    }

    &.checked {
      border:3px solid $action-color;
    }

    .video-still {
        position:absolute;
        left:3px;right:3px;bottom:3px;top:3px;
        background-size: cover;
        background-repeat:no-repeat;


        .info {
          vertical-align: middle;
          text-transform:uppercase;
          color: #FFF;
          font-size:25px;
          font-weight:bold;
          // text-shadow: 0 0 5px $dark-gray;
          box-sizing: border-box;
          @include vertical-align();
          position:absolute;
          left:0; right:0;
        }
    }

    &.checked .video-still .info {
      color: #FFF;
      // text-shadow:0 0 10px $action-color, 1px 1px 10px #333;
    }
  }
  input {
    display:none;
  }
}

.video-player {
  @include aspect-ratio(16, 9);
  width:100%;
}

.lets-talk-about-this {
  margin: 40px auto;
  width:75%;
  @include outer-container;

  @include media($medium-screen-up) {
    margin: 90px auto;
  }

  h3 {
    text-align:center;
    line-height: 25px;
  }

  .words {
    @include span-columns(12);
    padding:10px 0;
    @include media($medium-screen-up) {
      line-height:22px;
      @include span-columns(8);

      padding:20px 0;
    }

    font-size:14px;
    color:#AAA;
  }

  .actions {
    text-align:right;
    @include span-columns(12);
    a {
      display:block;
      text-align:center;
      width:100%;
      text-transform: uppercase;
    }
    @include media($medium-screen-up) {
      position:relative;
      top:3px;
      @include span-columns(4);
      padding:20px 0;
    }
  }
}
