<div class="page-content">
  <div class="page-inner">
    {{outlet}}
  </div>
</div>
<footer class="site-footer">
  <p>Your enjoyment made possible by <a href="http://jeffkeen.com">Jeff Keen</a> and <a href="http://gowithjake.com">Jake Reed</a></p>
</footer>
