{{site-header type="large" slogan="Let's Bring Back The Rick Roll"}}

<h3 class="site-instructions">Write a compelling headline, select a video, and then trick your friends/enemies with the link.</h3>

{{url-creator
  videos=model.videos
  categories=model.categories
  defaultHeadline=model.defaultHeadline
  defaultCategory=model.defaultCategory}}

{{outlet}}
