{{site-header type="small" slogan=model.slogan}}

<div class="video-player">
  <iframe class="content" id="video" width="100%" height="100%" src="{{ model.url }}" frameborder="0" autoplay allowfullscreen></iframe>
</div>

<div class="lets-talk-about-this">
  <div class="words">
    <p>Can you write a compelling headline that someone you know couldn't help but click?</p>
  </div>
  <div class="actions">
    <a href="/" class="btn btn-large">
      Make Your Own
    </a>
  </div>

</div>

{{outlet}}
