{{site-header type="small"}}
{{#video-player ytid=model.ytid giphyId=model.giphyId startSeconds=model.startSeconds onPlay=(action (mut videoHasPlayed)) as |options|}}

{{/video-player}}

<div class="video-slogan {{if videoHasPlayed 'is-visible' ''}}">
  <h2 class="video-slogan-text">{{model.slogan}}</h2>
</div>


<div class="follow-me">
  For more laughs: <a href="https://twitter.com/realjeffkeen?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">follow @realjeffkeen</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>


<div class="lets-talk-about-this">
  <div class="words">
    <p>Can you write a compelling headline that someone you know couldn't help but click?</p>
  </div>
  <div class="actions">
    <a href="/" class="btn btn-large">
      Make Your Own
    </a>
  </div>
</div>

{{outlet}}
