{{site-header type="small" slogan=model.slogan}}

{{#video-player ytid=model.ytid giphyId=model.giphyId startSeconds=model.startSeconds as |options|}}
  {{#if options.useDeceptionToPlay}}
    <div {{action options.playVideo}} class="loading-diversion-overlay">
    </div>
  {{/if}}
{{/video-player}}

<div class="lets-talk-about-this">
  <div class="words">
    <p>Can you write a compelling headline that someone you know couldn't help but click?</p>
  </div>
  <div class="actions">
    <a href="/" class="btn btn-large">
      Make Your Own
    </a>
  </div>
</div>

{{outlet}}
