{{site-header type="small" slogan=model.slogan}}

{{video-player ytid=model.ytid videoUrl=model.url giphyId=model.giphyId startSeconds=model.startSeconds}}

<div class="lets-talk-about-this">
  <div class="words">
    <p>Can you write a compelling headline that someone you know couldn't help but click?</p>
  </div>
  <div class="actions">
    <a href="/" class="btn btn-large">
      Make Your Own
    </a>
  </div>
</div>

{{outlet}}
